Solution exercise 2:

In [3]:
data <- read.csv("env.csv")

In [5]:
head(data)

  X    Aspect Slope Form PhysD ZoogD Snow
1 AR07 7       2    1    50    no    140
2 AR71 1      35    3    40    no    140
3 AR26 5       0    3    20    no    140
4 AR54 9      30    3    80    no    140
5 AR60 9       5    1    80    no    140
6 AR70 1      30    3    40    no    140

In [6]:
t <- table(data$ZoogD,data$Form)

In [7]:
t

        1  2  3  4  5
  high  1  1  5  3  2
  no    9  2 11  3 10
  some  9  4  6  5  4

In [9]:
colSums(t)

 1  2  3  4  5
19  7 22 11 16

In [10]:
rowSums(t)

high   no some
  12   35   28